.heading1
{color:blueviolet;
    font-family: cursive;
    text-transform: uppercase;
    text-decoration:overline;
    text-align: center;
    line-height: 0.5;
    text-shadow:10px 20px 15px blue ;
}



.heading2
{
    color:blue;
    font-family: cursive;
    text-transform: lowercase;
    text-decoration: underline;
    text-align: left;
    line-height: 2;
    text-shadow:15px 30px 20px purple;
}



.heading3
{color:darkolivegreen;
font-family: cursive;
text-transform: capitalize;
text-decoration: line-through;
text-align: right;
line-height: 3;
text-shadow:50px 30px 25px yellowgreen;
}