* { padding:0;
    margin:0;
    box-sizing: border-box;}
    
    body {height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 147, 75) ;}


div{display: flex;
align-items: center;
justify-content: center;
background-color: white;
width:400px;
height: 310px;}

.user{width:300px;
height: 50px;
background-color: rgb(233, 233, 232);
border: none;}

.pswrd {width:300px;
    height: 50px;
    background-color: rgb(233, 233, 232);
    border: none;}

.btn{
    width: 300px;
    height:50px;
    background-color:rgb(104, 177, 62);
border: none;
color: white;}

p {color:  rgb(197, 197, 196);
display: flex;
justify-content: center;}