* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas:
    'aside header'
    'aside .section1 .section2 .section3'
    'aside main'
    'aside footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5fr ;
}


    header{background-color: lightblue;}

    aside{background-color:cornflowerblue}

    .section1{background-color: lightblue;}

    .section2{background-color: lightsteelblue;}

    .section3{background-color: cadetblue;}

    main{background-color: darkcyan;}

    footer{background-color:lightslategrey;}




